body {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  background-attachment: fixed;
}

.App {
  background-image: url("./assets/bg.png");
  max-width: 635px;
  padding: 20px;
  height: 100vh;
  border: 2px solid black;
  border-radius: 17px;
  margin: auto;
}
